.row{
    padding: 20px;
    
}

div{
    text-align:  center;
    margin: 0 auto;
}

.btn{
    width: 500px;
}

/* Etiqueta nombre */

#nombre{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20%;
}

h1{
    font-size: 100px;
}

#info{
    font-size: 25px;
    padding-top: 2em ;
}

#info-stack{
    font-size: 20px;
}


/* Foto de perfil */


@media (min-width: 576px){
    #fotoPerfil{
        border-radius: 50%;
        box-shadow: 0px 0px 14px 9px rgba(0,0,0,0.73);
    }
    .containerAcerca{
        margin-top: 100px;
    }
    .acercaDe{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-container{
        margin-top: 80px;
    }

}

@media (max-width: 575px){
    #fotoPerfil{
        position: absolute;
        width: 20%;
        border-radius: 20%;
        box-shadow: 0px 0px 14px 9px rgba(0,0,0,0.73);
        left: 40%;
        top: 550px;
    }
    .btn-container{
        margin-top: 80px;
    }
}

@media (max-width: 530px){
    #fotoPerfil{
        position: absolute;
        width: 20%;
        border-radius: 20%;
        box-shadow: 0px 0px 14px 9px rgba(0,0,0,0.73);
        left: 40%;
        top: 470px;
    }
    .btn-container{
        margin-top: 80px;
    }
    .btn{
        width: 200px;
    }

}

@media (max-width: 349px){
    #fotoPerfil{
        position: absolute;
        width: 30%;
        border-radius: 20%;
        box-shadow: 0px 0px 14px 9px rgba(0,0,0,0.73);
        left: 35%;
        top: 400px;
    }
    .btn-container{
        margin-top: 80px;
    }
}


