<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" alt="Foto" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="info-stack" class="color-letra">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="color-letra">Acerca de Mi</h1>
            <p id="info">Estudiante de ingeniería informática de forma autónoma con un gran interés en la programación web. 
                Tengo gran capacidad para adaptarme a todo tipo de entornos y aportar siempre lo mejor de mi. Me caracterizo por mi facilidad para el trabajo en equipo y entusiasmo por aprender y desarrollar mis habilidades. 
                En busca de una oportunidad laboral en la que adquirir más experiencia.</p>
        </span>
    </div>
</div>

