<div>
    <a href="https://www.linkedin.com/in/agustin-ponte-773315240/" target="blank"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
    <a href="https://github.com/Agustino123" target="_blank"><img src="../../../assets/github.png" alt="github"></a>
    <a href="https://www.facebook.com/agustin.ponte.792" target="_blank" ><img src="../../../assets/facebook.png" alt="facebook"></a>
    <a href="https://www.instagram.com/agustin_ponte/" target="_blank" ><img src="../../../assets/instagram.png" alt="instagram"></a>
</div>
