<div class="row">
    <h1 class="color-letra">Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="120"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="55"
        [radius]="100"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../assets/Angular.png'"
        [showImage]="true"
        [imageHeight]="130"
        [imageWidth]="130"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/Git.png'"
        [showImage]="true"
        [imageHeight]="130"
        [imageWidth]="130"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../assets/bootstrap.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="55"
        [radius]="100"
        [imageSrc]="'../assets/mysql.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../assets/java.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../assets/typescript.png'"
        [showImage]="true"
        [imageHeight]="130"
        [imageWidth]="130"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
</div>
