
.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form{
    width: 75%;
}

.letra-dos{
    font-size: 20px;
}

input{
    font-size: 20px;
}

label{
    margin: 20px 0;
}

.btn-container{
    text-align: center;
}

button{
    background-color: black;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
}