.banner{
    max-width: 100%;
    overflow: hidden;
    position: relative;

}
.banner img {
    width: 100%;
    height: auto;
}

.btn{
    position: relative;
    top: 50px;
    left: 20px;
    text-align: center;
    width: 50px;
}
