/* You can add global styles to this file, and also import other style files */

.body{
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: rgb(87,0,87); */
    background: linear-gradient(135deg, #480087 0%, #0F011A 46%, #5900B3 100%);
    color: rgb(255, 255, 255);
}

.color-letra{
    color:rgb(189, 189, 189);
    font-weight: bold;
    text-shadow:0 0 30px rgba(7, 188, 243, 0.589);
}

.letra-dos{
    color:rgb(13, 150, 155);
    font-weight: bold;
    text-shadow:  0 0 30px rgba(255, 255, 255, 0.589);
}

.row{
    margin: 0 auto;
}

::-webkit-scrollbar {
    background-color: rgb(49, 47, 47); 
    width: 9px; 
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255); 
}